.opening{
    background-color: rgb(68,100,4,0.89);
}

.querie{
    background-color: rgb(51,90,9,0.515);
}

.customer{
    background-color: #f56a0d;
}

.campaign{
    background-color: orange;
}

.training_links{
    margin-left: 14rem;
}

.student-graph{
    margin-left: 14rem;
}

.contact_links{
    margin-left: 7rem;
}

.row-align{
    margin-left: 2rem;
}

.icon-alignment{
    margin-left: 30px;
    font-size: 24px;
}

.home_breadcome{
    margin-top: 13px;
    margin-right: 5px;
}

.cursor-hover{
    cursor: pointer !important;
}

