<!-- <mat-spinner></mat-spinner> -->
<div class="spinner-container">
    <mat-progress-spinner class="spinner" mode="indeterminate" color="primary" diameter="60" strokeWidth="5">
    </mat-progress-spinner>
    <p class="spinner-message">{{ message }}</p>
</div>


<!-- <div class="spinner-container">
    <mat-progress-spinner mode="indeterminate" color="primary"></mat-progress-spinner>
    <p>{{ message }}</p>
  </div> -->
<!-- <p>spinner works!</p> -->
<!-- <div fxLayout="row" fxLayoutAlign="space-around center" class="mx-auto d-flex justify-content-center mt-5">
    <mat-progress-spinner mode="indeterminate" diameter="50" style="margin:auto;"></mat-progress-spinner>
</div> -->