<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <mat-toolbar style="background-color: rgb(85, 107, 47);">
                <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                  <mat-icon>menu</mat-icon>
                </button> -->
                <!-- <span>My App</span> -->
                <!-- <span class="example-spacer"></span> -->
                <div style="float: right;">
                    <button mat-icon-button class="example-icon favorite-icon"
                        aria-label="Example icon-button with heart icon">
                        <mat-icon>favorite</mat-icon>
                    </button>
                    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                        <mat-icon>share</mat-icon>
                    </button>
                </div>
            </mat-toolbar>
            <header>
                <h3>Chart box</h3>
            </header>
        </div>
        <div class="col-md-8"></div>
        <div class="col-md-4">    
        </div>
        <div class="col-md-12">
            <footer class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <h2>Atla Institute</h2>
                        </div>
                        <div class="col-md-3">
                            <h5>About Us</h5>
                            <p>
                                Atla institute is a leading platform that provides
                                computer science resources and coding challenges for
                                programmers and technology enthusiasts along with
                                interview and exam preparations for upcoming aspirants.
                            </p>
                        </div>
                        <div class="col-md-3">
                            <h5>Contact Us</h5>
                            <ul class="list-unstyled">
                                <li>Email: atla@example.com</li>
                                <li>Phone: 91+ 8187876863</li>
                                <li>Address: Peddagovindapalli, kothapatnam, nellore, india</li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <h5>Follow Us</h5>
                            <ul class="list-inline footer-links">
                                <li class="list-inline-item">
                                    <a href="#">
                                        <mat-icon> call</mat-icon>
                                        <!-- <i class="fab fa-facebook"></i> -->
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#">
                                        <mat-icon>add_to_queue</mat-icon>
                                        <!-- <i class="fab fa-twitter"></i> -->
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#">
                                        <mat-icon> place</mat-icon>
                                        <!-- <i class="fab fa-instagram"></i> -->
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#">
                                        <mat-icon> twitter</mat-icon>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <p>&copy; 2024 Your Website. All rights reserved.</p>
                        </div>
                        <div class="col-md-6 text-end">
                            <ul class="list-inline footer-links">
                                <li class="list-inline-item">
                                    <a href="#" class="text-white">
                                        Privacy Policy
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" class="text-white">
                                        Terms of Service
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" class="text-white">
                                        Sitemap
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <!-- starting chatgpt code -->
        <div class="show">
            <!-- Chat Toggle Button -->
            <button class="chat-button-toggle" (click)="toggleChat()">
                <span *ngIf="!isChatVisible">
                    <mat-icon>comment</mat-icon>
                </span>
                <span *ngIf="isChatVisible">
                    <mat-icon>clear</mat-icon>
                </span>
            </button>
            <!-- Chat Box -->
            <div class="chat-box" [class.visible]="isChatVisible">
                <mat-card>
                    <mat-card-title class="chat-box-header">
                        Live Chat
                    </mat-card-title>
                    <mat-divider></mat-divider>
                    <mat-card-content class="chat-body">
                        <div class="chat-incoming">
                            <span class="chat-inc-persion"><mat-icon>perm_identity</mat-icon></span>
                            <span>hello</span>
                        </div>
                        <div class="chat-outgoing">
                            <span class="chat-out-persion"><mat-icon>perm_identity</mat-icon></span>
                            <span>hi</span>
                        </div>
                    </mat-card-content>
                    <mat-divider></mat-divider>
                    <div class="chat-input">
                        <mat-form-field appearance="outline" class="input-line">
                            <!-- <mat-label>Type a message</mat-label> -->
                            <input matInput placeholder="Enter your message">
                            <mat-icon class="send-icon">send</mat-icon>
                        </mat-form-field>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>