<div class="container-fluid">
    <div class="row">
        
        <!-- <div class="col-md-12">
            <mat-card>
                <img src="../../../../assets/images/contactus.jpg" alt="contactus" class="contact-img">

            </mat-card>

        </div> -->
        <div class="row">
            <div class="col-lg-8">
                <img src="../../../../assets/images/contactus.jpg" alt="contactus" class="contactUs-img">
            </div>
            <div class="col-lg-4">
                <p>for more information please connect us</p>
                <p>We are also provide some special officers.</p>
            </div>
            <!-- <div class="col-lg-6">
                <mat-card class="contact-img">
                    <mat-card-title>Contact Us</mat-card-title>
                    <mat-card-content>
                        <form style="text-align: center;">
                            <div>
                                <mat-label>Enter Name</mat-label>
                                <mat-form-field appearance="outline">
                                    <input matInput placeholder="Enter UserName">
                                </mat-form-field>
                            </div>

                            <div>
                                <mat-label>Enter Email</mat-label>
                                <mat-form-field appearance="outline">
                                    <input matInput placeholder="Enter email">
                                </mat-form-field>

                            </div>
                            <div>
                                <mat-label>Enter Phone</mat-label>
                                <mat-form-field appearance="outline">
                                    <input matInput placeholder="Enter Phone">
                                </mat-form-field>
                            </div>

                            <div>
                                <mat-label>Enter Message</mat-label>
                                <mat-form-field appearance="outline">
                                    <input matInput placeholder="Enter Message">
                                </mat-form-field>
                            </div>
                        </form>
                    </mat-card-content>
                    <mat-divider></mat-divider>
                    <mat-card-actions>
                        <button mat-button color="primary">Save</button>
                    </mat-card-actions>
                </mat-card>
            </div> -->
        </div>
        <div class="col-md-12">
            <footer class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <h2>{{'CONTACTUS.ATLA-INSTITUTE' | translate}}</h2>
                            <!-- <h2>Atla Institute</h2> -->
                        </div>
                        <div class="col-md-3">
                            <h5>{{'CONTACTUS.ABOUT-US' | translate}}</h5>
                            <p>
                                {{'CONTACTUS.STATEMENTS' | translate}}
                            </p>
                        </div>
                        <div class="col-md-3">
                            <h5>{{'CONTACTUS.CONTACT-US' | translate}}</h5> 
                            <ul class="list-unstyled">
                                <li>{{'STUDENT.EMAIL' | translate}}: atla@example.com</li>
                                <li>{{'STUDENT.PHONE' | translate}}: 91+ 8187876863</li>
                                <li>{{'STUDENT.ADDRESS' | translate}}: Peddagovindapalli, kothapatnam, nellore, india</li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <h5>{{'CONTACTUS.SOCIA-LINKS' | translate}}</h5>
                            <ul class="list-inline footer-links">
                                <li class="list-inline-item">
                                    <a href="#">
                                        <mat-icon> call</mat-icon>
                                        <!-- <i class="fab fa-facebook"></i> -->
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#">
                                        <mat-icon>add_to_queue</mat-icon>
                                        <!-- <i class="fab fa-twitter"></i> -->
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#">
                                        <mat-icon> place</mat-icon>
                                        <!-- <i class="fab fa-instagram"></i> -->
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#">
                                        <mat-icon> twitter</mat-icon>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <p>&copy; 2024 Your Website. All rights reserved.</p>
                        </div>
                        <div class="col-md-6 text-end">
                            <ul class="list-inline footer-links">
                                <li class="list-inline-item">
                                    <a href="#" class="text-white">
                                        Privacy Policy
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" class="text-white">
                                        Terms of Service
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" class="text-white">
                                        Sitemap
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <!-- starting chatgpt code -->
        <div class="show">
            <!-- Chat Toggle Button -->
            <button class="chat-button-toggle" (click)="toggleChat()">
                <span *ngIf="!isChatVisible">
                    <mat-icon>comment</mat-icon>
                </span>
                <span *ngIf="isChatVisible">
                    <mat-icon>clear</mat-icon>
                </span>
            </button>
            <!-- Chat Box -->
            <div class="chat-box" [class.visible]="isChatVisible">
                <mat-card>
                    <mat-card-title class="chat-box-header">
                        Live Chat
                    </mat-card-title>
                    <mat-divider></mat-divider>
                    <mat-card-content class="chat-body">
                        <div class="chat-incoming">
                            <span class="chat-inc-persion"><mat-icon>perm_identity</mat-icon></span>
                            <span>hello</span>
                        </div>
                        <div class="chat-outgoing">
                            <span class="chat-out-persion"><mat-icon>perm_identity</mat-icon></span>
                            <span>hi</span>
                        </div>
                    </mat-card-content>
                    <mat-divider></mat-divider>
                    <div class="chat-input">
                        <mat-form-field appearance="outline" class="input-line">
                            <!-- <mat-label>Type a message</mat-label> -->
                            <input matInput placeholder="Enter your message">
                            <mat-icon class="send-icon">send</mat-icon>
                        </mat-form-field>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>