<mat-card class="card mx-auto">
    <mat-card-content>
        <form [formGroup]="dateForm">
            <ng-container *ngFor="let field of fieldNames">
                <mat-label>{{ field | translate }}</mat-label>
                <mat-form-field appearance="outline">
                    <input matInput [matDatepicker]="picker" [formControlName]="field" placeholder="dd-MM-yyyy" />
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </ng-container>
            <div class="mx-auto">
                <button mat-raised-button color="primary" [disabled]="dateForm.invalid" (click)="saveForm()">
                    Submit
                </button>
            </div>
        </form>
    </mat-card-content>
</mat-card>