:root,
[data-theme = 'default']{

    // color
    --amy-color-am-light : hsl(56,100%,70%);
    --amy-home : #f0de00;
    --amy-my-home-hover : hsl(56,100%,40);
    --amy-color-white : hsl(0,0%,100%);
    --amy-color-whitesmoke : hsl(0, 0%, 90%);
    --amy-color-grey-white : #efefef;
    --amy-color-grey-medium : #D8D7D6;
    --amy-milky-white : #FEFCFF;
    --amy-color-grey-dark : hsl(204,2%,54%);
    --amy-color-grey : #808080;
    // u can define all colors
    --amy-color-orange : orange;
    //coloe ze light
    --amy-color-ze-light : #b2def3;
    --amy-color-ze : #0091da;
    --amy-color-ze-hover : #4cb2e5;

    // colors
    --amy-color-grey-900 : hsl(0, 0%, 13%);
    --amy-color-grey-850 : hsl(0, 0%, 23%);
    --amy-color-grey-800 : hsl(0, 0%, 28%);
    --amy-color-grey-700 : hsl(96, 8%, 33%);
    --amy-color-grey-600 : hsl(204, 5%, 53%);
    --amy-color-grey-500 : hsl(80, 0%, 93%);
    --amy-color-color-yellow : hsl(46, 100%, 53%);
    --amy-color-green : hsl(90, 67%, 50%);
    --amy-color-green-dark : hsl(166, 100%, 30%);
    --amy-color-green-light : hsl(112, 44%, 63%);
    --amy-color-turqoise : hsl(171, 100%, 41%);
    --amy-color-cyan : hsl(184, 100%, 33%);
    --amy-color-blue : hsl(200, 100%, 43%);
    --amy-color-blue-light : hsl(206, 100%, 73%);
    --amy-color-blue-dark : hsl(220, 100%, 31%);
    --amy-color-purple : hsl(312, 100%, 31%);
    --amy-color-purple-dark : hsl(279, 100%, 23%);
    --amy-color-red : hsl(370, 60%, 53%);
    --amy-color-red-light : hsl(360, 77%, 63%);
    --amy-color-gg : hsl(3570, 10%, 30%);
    --amy-color-light-brown : #d8c4a0;
    --amy-color-light-brown-hover : #bfaf8d;
    --amy-color-dark-brown : #60504a;
    --amy-color-dark-blue : #2e2eca;
    --amy-color-dark-green : #2e2e; 
    --amy-color-Olive : #808000;
    --amy-color-teal : #008080;
    --amy-color-aqua : #00FFFF;
    --amy-color-marron : #800000;
    --amy-color-lawngreen : #7CFC00	;
    --amy-color-forest-green : #228B22;
    --amy-color-ovil-drab : #6B8E23;
    --amy-color-cyan : #00FFFF	;
    --amy-color-steel-blue : #4682B4; 
    --amy-color-kakhi : #F0E68C;

}