.icon{
    position: fixed;
    z-index: 9;
    float: right;
}

.icon a{
    height: 39px;
    width: 40px;
    text-align: center;
    display: block;
    background-color: red;
    cursor: pointer;
    border-radius: 4px;

}