<!-- Student List Table -->
<p>Reusable Data Table</p>

<span aria-label="breadcrumb" class="mt-3">
  <ol class="breadcrumb">
    <mat-icon class="home_breadcome mt-3">list</mat-icon>
    <li class="breadcrumb-item active" aria-current="page">Student List</li>
  </ol>
</span>

<!-- reusable search data -->

<atla-reusable-searh  (searchTerm)="searchData($event)"></atla-reusable-searh>

<!-- reusable spinner -->
<atla-spinner *ngIf="isLoading" [message]="'Loading student data...'"></atla-spinner>
 <!-- <atla-spinner *ngIf="isLoading" [loading]="isLoading" [message]="'Loading student data...'"></atla-spinner> -->

 <!-- Error display -->
<div *ngIf="!isLoading && error" class="error-message">
  <mat-icon color="warn">error</mat-icon>
  {{ error }}
</div>

<!-- reusable data table -->
<atla-reusable-data-table   
  *ngIf="!isLoading && !error && dataSource_parent.data.length > 0"
  [displayedColumns]="displayedColumns_parent"
  [dataSource]="dataSource_parent">
  <ng-template #actionTemplate let-element>
    <button mat-icon-button color="primary" (click)="editStudent()">
      <!-- (click)="editData(element)" (click)="editStudent(element.id)"-->
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button color="warn">
      <mat-icon>delete</mat-icon>
    </button>
  </ng-template>
</atla-reusable-data-table>

<!-- Error message on API fail -->
<!-- <div *ngIf="!isLoading && error" class="error-message">
  <mat-icon color="warn">error</mat-icon>
  {{ error }}
</div> -->
