<!-- Student List Table -->
<p>Reusable Data Table</p>

<span aria-label="breadcrumb" class="mt-3">
  <ol class="breadcrumb">
    <mat-icon class="home_breadcome mt-3">list</mat-icon>
    <li class="breadcrumb-item active" aria-current="page">Student List</li>
  </ol>
</span>

<atla-reusable-data-table
  [displayedColumns]="displayedColumns_parent"
  [dataSource]="dataSource_parent">
  <ng-template #actionTemplate let-element>
    <button mat-icon-button color="primary" (click)="editStudent()">
      <!-- (click)="editData(element)" (click)="editStudent(element.id)"-->
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button color="warn">
      <mat-icon>delete</mat-icon>
    </button>
  </ng-template>
</atla-reusable-data-table>
