<!-- <form>
    <ng-container *ngFor="let field of fieldNames">
        <mat-label>{{ field }}</mat-label>
        <mat-form-field appearance="outline">
            <input matInput [matDatepicker]="picker"><br><br><br>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </ng-container>
    <button mat-raised-button color="primary">Submit</button>
</form> -->
<p>date filed cchecking</p>
<atla-datefield></atla-datefield>